<h1>Cats New</h1>

<%= render "form", cat: @cat %> 
<!-- <form action="<%#= cats_url %>" method="post">

    <label for="cat_name">Name</label>
    <input type="text" name="cat[name]" id="cat_name"> 
<br>

    <label for="cat_color">Color</label>
    <select name="cat[color]" id="cat_color">
        <%# Cat::COLORS.each do |color|  %>
        <option disabled selected>-- Select Color --</option>
        <option value="<%#= color %>"></option>   
        <%# end %>
    </select>
<br>

<label for="cat_sex">Sex</label>
    <input type="radio" id="cat_sex" name="cat[sex]" value="<%#= M %>"> Male
    <br>
    <input type="radio" id="cat_sex" name="cat[sex]" value="<%#= F %>"> Female 
<br>

<label for="cat_birth_date">Birth Date</label>
    <input type="date" id="cat_birth_date"> 
<br>

<label for="cat_description">Description</label>
    <textarea name="cat[description]" id="cat_description"><%#= cat.description %></textarea> 

  <input type="submit" value="Create Cat">
</form> -->

